/*-- scss:defaults --*/
// Base document colors
//$body-bg: white ;
//$body-color: #0f2537;
$link-color: #4c9be8;

// font face
@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto');


//sidebar

//$sidebar-bg: #7eadba;

/*
.button-styling {
  border-radius: 0.6rem;
  border-width: thin;
  font-size: 15px;
  letter-spacing: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
  transition-duration: 0.4s;
}
*/
