/* css styles */

/* Nav bar */

.navbar {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  border-bottom: 1px solid white;
}


.sidebar-item {
  margin-top: 1.0rem; 
  margin-left:1.0em; 
  border:  solid #37424a;
  border-radius: 0.4em;
  border-width: thin;
  font-size: 18px;
  letter-spacing: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
}


#quarto-sidebar  {
  background-color: white;
  border: 1px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  align-items: center;
  
}


